@media screen and (max-width: 480px) and (max-width: 599px) {
    #colorChartArea {
        width: 370px;
        height: 600px;
        margin: 20px auto;
    }

    h1 {
        margin-top: 10px;
    }
}
